/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text-primary {
  font-size: 3.6rem;
  color: #7db827;
  text-transform: uppercase;
  font-weight: 700; }

.text-primary-small {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  color: #757474; }

@keyframes fadeInText {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html, body {
  font-family: 'Noto Sans JP', sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 1600px) and (min-width: 640px) {
    html {
      font-size: calc(100vw/160); } }

html, body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-left: 250px;
  padding-right: 250px;
  width: 100%; }

.section-background {
  height: 82.9rem; }

.section-menu {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c0c6b8; }

.section-service {
  background-color: #f2f8e9;
  padding-top: 7rem;
  padding-bottom: 6rem; }

.section-about {
  position: relative;
  background-color: #7db827; }

.section-partners {
  padding-top: 5rem;
  padding-bottom: 8rem;
  text-align: center; }

.section-recruit {
  height: 31rem;
  text-align: center;
  position: relative; }

.section-contact {
  background-color: #4f4e53;
  padding-bottom: 4rem; }

.section-copyright {
  background-color: #7db827;
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.2rem; }

#myGallery {
  position: relative; }

#myGallery img {
  position: absolute;
  z-index: 1; }

#myGallery img.active {
  z-index: 2; }

.bg {
  align-items: center;
  justify-content: center;
  position: relative; }
  .bg__img {
    vertical-align: top;
    width: 100%;
    height: 82.9rem; }

.content {
  width: 100%;
  z-index: 3;
  position: absolute;
  color: #ffffff;
  top: 28.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  letter-spacing: -3px; }
  .content__big {
    font-size: 4.8rem; }
  .content__small {
    font-size: 2.4rem;
    margin-top: 4.5rem; }
    .content__small--child {
      margin-top: 1.5rem; }
      .content__small--child p {
        margin-top: 1.5rem; }

.fade-in {
  opacity: 0;
  animation: fadeInText ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.4s; }

.fade-in.delayed {
  animation-delay: 1.4s; }

.logo {
  margin-left: 2rem; }

.menu {
  margin-right: 2rem;
  height: 100%; }
  .menu__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .menu__ul--li {
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 0 1.8rem;
      border-left: 1px solid #c0c6b8;
      transform: skewX(-25deg);
      cursor: pointer; }
      .menu__ul--li:last-child {
        border-right: 1px solid #c0c6b8; }
      .menu__ul--li a {
        font-size: 1.8rem;
        text-decoration: none;
        transform: skewX(25deg);
        color: #7db827;
        transition: all .5s; }
        .menu__ul--li a span {
          font-size: 1.4rem;
          color: #757474;
          transition: all .5s; }
    .menu__ul--li:hover {
      background-color: #7db827; }
    .menu__ul--li:hover a,
    .menu__ul--li:hover a span {
      color: #ffffff; }

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .title__text {
    font-size: 1.4rem;
    color: #333333;
    margin-top: 3.5rem; }

.box {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.button {
  vertical-align: top;
  position: relative;
  border: 1px solid #a7babf;
  width: 26rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 2rem !important;
  margin-right: 2rem; }
  .button:nth-child(4) {
    margin-right: 0; }
  .button:last-child {
    margin-right: 0; }
  .button__text {
    color: #7db827;
    font-size: 1.8rem;
    font-weight: 700; }
  .button__img {
    margin-top: 2rem; }
  .button__TopBottom:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    top: 0;
    left: 0;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__TopBottom:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    bottom: 0;
    right: 0;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__TopBottom2:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    top: 0;
    right: 0;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__TopBottom2:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__LeftRight:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 10px;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__LeftRight:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 10px;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__LeftRight2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 10px;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button__LeftRight2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 10px;
    background: #a7babf;
    transition: all 0.5s ease; }
  .button:hover .button__LeftRight:before,
  .button:hover .button__LeftRight::after {
    z-index: 999;
    background: #7db827;
    height: 100%;
    transition: all 0.5s ease; }
  .button:hover .button__TopBottom2:before,
  .button:hover .button__TopBottom2::after {
    background: #7db827;
    width: 100%;
    transition: all 0.5s ease;
    transition-delay: .5s; }

.text-about {
  color: #ffffff; }

.image {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0; }
  .image img {
    width: 100%;
    height: 100%; }

.about {
  display: flex;
  justify-content: center;
  width: 100%; }
  .about__content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.5rem; }
    .about__content--text {
      margin-top: 3.5rem;
      font-size: 1.4rem;
      line-height: 2.4rem;
      text-align: center;
      color: #ffffff;
      font-weight: 300; }
    .about__content--btn {
      position: relative;
      width: 18rem;
      height: 4rem;
      border: 1px solid #ffffff;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
      margin-bottom: 5rem; }
      .about__content--btn--topleft::before {
        content: "";
        position: absolute;
        width: 1rem;
        height: .2rem;
        top: 0;
        left: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--topleft::after {
        content: "";
        position: absolute;
        height: 1rem;
        width: .2rem;
        top: 0;
        left: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--topright::before {
        content: "";
        position: absolute;
        height: 1rem;
        width: .2rem;
        top: 0;
        right: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--topright::after {
        content: "";
        position: absolute;
        height: .2rem;
        width: 1rem;
        top: 0;
        right: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--bottomleft::before {
        content: "";
        position: absolute;
        height: .2rem;
        width: 1rem;
        bottom: 0;
        left: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--bottomleft::after {
        content: "";
        position: absolute;
        height: 1rem;
        width: .2rem;
        bottom: 0;
        left: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--bottomright::before {
        content: "";
        position: absolute;
        height: 1rem;
        width: .2rem;
        bottom: 0;
        right: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn--bottomright::after {
        content: "";
        position: absolute;
        height: .2rem;
        width: 1rem;
        bottom: 0;
        right: 0;
        background: #ffffff;
        transition: all 0.5s ease; }
      .about__content--btn:hover .about__content--btn--bottomright::after,
      .about__content--btn:hover .about__content--btn--topleft::before {
        z-index: 999;
        width: 100%;
        transition: all 0.5s ease; }
      .about__content--btn:hover .about__content--btn--bottomleft::after,
      .about__content--btn:hover .about__content--btn--topright::before {
        height: 100%;
        transition: all 0.5s ease;
        transition-delay: .5s; }
  .about__empty {
    width: 50%;
    height: 100%; }

.text-partners__p {
  margin-top: 5rem;
  font-size: 1.4rem; }

.content-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem; }

.content-partners__imgLeft {
  position: relative;
  z-index: 100; }
  .content-partners__imgLeft--img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all .5s; }
    .content-partners__imgLeft--img:hover {
      z-index: 10;
      transform: scale(1.1); }
  .content-partners__imgLeft--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #ffffff;
    font-size: 2.4rem; }
    .content-partners__imgLeft--text span {
      font-size: 1.6rem; }
  .content-partners__imgLeft--text2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #ffffff;
    font-size: 2.4rem; }

.text-recruit {
  color: #ffffff; }

.recruit-image {
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%; }
  .recruit-image__img {
    width: 100%;
    height: 31rem; }
  .recruit-image__content {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0); }
    .recruit-image__content p {
      color: #ffffff;
      margin-top: 3.5rem;
      font-size: 1.4rem; }
      .recruit-image__content p span:nth-child(2) {
        top: 1rem; }

.btn__recruit {
  margin: 3rem auto 0 auto; }

.text-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  padding-top: 5rem; }

.color-contact {
  color: #ffffff; }

.contact-content {
  display: flex;
  margin-top: 3rem; }

.contentLeft {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 3rem; }
  .contentLeft__nth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%; }
    .contentLeft__nth--title {
      color: #ffffff;
      font-size: 1.4rem;
      width: 100%; }
    .contentLeft__nth--typing {
      display: flex;
      align-items: center;
      justify-content: center; }
      .contentLeft__nth--typing--title {
        color: #ffffff;
        font-size: 1.4rem;
        margin-right: 1rem;
        margin-left: 3rem; }
      .contentLeft__nth--typing--input {
        width: 150px;
        height: 35px;
        border-radius: .5rem;
        outline: none;
        border: none; }
      .contentLeft__nth--typing--input2 {
        width: 370px;
        height: 35px;
        border-radius: .5rem;
        outline: none;
        border: none; }
      .contentLeft__nth--typing--input3 {
        width: 370px;
        height: 115px;
        border-radius: .5rem;
        outline: none;
        border: none; }

.contentRigth {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 2.5rem; }
  .contentRigth__text {
    display: flex;
    flex-direction: column;
    margin-left: 5rem; }
    .contentRigth__text--one p {
      color: #ffffff;
      font-size: 1.4rem;
      margin-bottom: 3.5rem;
      line-height: 1.75; }
    .contentRigth__text--true p {
      color: #ffffff;
      font-size: 1.4rem;
      line-height: 1.75; }

.btn-footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: fit-content; }

.btn {
  margin: 0; }
