$primary: #7db827 ;
$color-text: #ffffff;
$color-border-menu: #c0c6b8;
$color-text-menu-2: #757474;
$color-background-service: #f2f8e9;
$color-text-primary-small: #757474;
$color-three: #333333;
$color-boder-btn: #a7babf;
$bg-button: #ffffff;
$bg-contact: #4f4e53;
