.section-background{
    width: 100%;
    height: 82.9rem;
    // height: 100%;
    @include respond(mobile){
        width: 100%;
        height: 38rem;
        // height: 100%;
    }
}
.section-menu{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-menu;
    background-color: $bg-button;
    @include respond(mobile){
        position: fixed;
        top:0;
        right: 0;
        z-index: 10;
        box-shadow: 0 10px 20px rgba(61, 61, 61, 0.19), 0 6px 6px rgba(63, 63, 63, 0.23);
        width: 100%;
    }
}

.section-service{
    background-color:$color-background-service;
    padding-top: 7rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
}

.section-about{
    position: relative;
    background-color: $primary;
}

.section-partners{
    padding-top: 5.3rem;
    padding-bottom: 8rem;
    text-align: center;
}

.section-recruit{
    height: 31rem;
    text-align: center;
    position: relative;
}

.section-contact{
    background-color: $bg-contact;
    padding-bottom: 3rem;
}

.section-copyright{
    background-color: $primary;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    font-size: 1.2rem;
    @include respond(mobile){
        font-size: 1.1rem;
    }
}

.backtop{
    width: 7rem;
    height: 7rem;
    @include respond(mobile){
        width: 3.5rem;
        height: 3.5rem;
    }
    background-color: $primary;
    position: fixed;
    bottom: 3.3rem;
    right:0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btnshow{
    display: none;
}