.section-background{
    position: relative;
    width: 100%;
    height: calc(100vh - 8rem);
    @include respond(mobile){
        height: auto;
        padding: 29.7% 0;
        margin-top: 40px;
    }
}
.section-menu{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-menu;
    background-color: $bg-button;
    @include respond(mobile){
        height: 4rem;
        position: fixed;
        top:0;
        right: 0;
        z-index: 10;
        box-shadow: 0 10px 20px rgba(61, 61, 61, 0.19), 0 6px 6px rgba(63, 63, 63, 0.23);
        width: 100%;
    }
}

.section-service{
    background-color:$color-background-service;
    padding-top: 7rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    @include respond(mobile){
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }
}

.section-about{
    position: relative;
    background-color: $primary;
}

.section-partners{
    padding-top: 5.3rem;
    padding-bottom: 8rem;
    text-align: center;
    background-color: $bg-partner;
    @include respond(mobile){
        padding-top: 3rem;
        padding-bottom: 2.5rem;
    }
}

.section-recruit{
    // background: rgba(125, 184, 39, 0.7);
    // height: 31rem;
    // text-align: center;
    // position: relative;
    // height: 31rem;
    padding: 54px 0 52px 0;
    background: rgba(125, 184, 39, 0.7);
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    @include respond(mobile){
        padding: 25px 0 12px 0;
    }
}

.section-contact{
    background-color: $bg-contact;
    padding-bottom: 3rem;
    @include respond(mobile){
        padding-bottom: 1.5rem;
    }
}

.section-copyright{
    background-color: $primary;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    font-size: 1.2rem;
    @include respond(mobile){
        font-size: 1.1rem;
    }
}

.backtop{
    width: 7rem;
    height: 7rem;
    @include respond(mobile){
        width: 3.5rem;
        height: 3.5rem;
    }
    background-color: $primary;
    position: fixed;
    bottom: 3.3rem;
    right:0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__mb{
        display: none;
        @include respond(mobile){
            display: block;
            width: 50%;
        }
    }
    &__pc{
        @include respond(mobile){
            display: none;
        }
    }
}
.btnshow{
    display: none;
}
.faceIn{
    animation: fadeInText 1s ease-in-out forwards;
}