.section-background{
    width: 100%;
    height: 829px;
}
.section-menu{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-menu;
}

.section-service{
    background-color:$color-background-service;
    padding-top: 7rem;
    padding-bottom: 6rem;
}

.section-about{
    display: flex;
    height: 200vh;
    width: 100%;
}