// #myGallery{
//     position:relative;
// }
#myGallery{
    & figure{
        position:absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: 1;
    }
}
#myGallery figure.active{
    z-index: 2;
}
.bg{
    height: 100%;
    &__img1{
        background: url("../img/slider01.png");
        background-position: center; background-repeat: no-repeat;  background-size: cover;
        @include respond(mobile){
            background: url("../img/slider01-mb.png");
            background-position: center; background-repeat: no-repeat; background-size: cover;
        }
    }
    &__img2{
        background: url("../img/slider02.png");
        background-position: center; background-repeat: no-repeat;  background-size: cover;
        @include respond(mobile){
            background-image: url("../img/slider02-mb.png");
            background-position: center; background-repeat: no-repeat; background-size: cover;
        }
    }

}
.content{
    width: 100%;
    z-index: 3;
    position: absolute;
    color: $color-text;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    @include respond(mobile){
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__big{
        font-size: 4.8rem;
        font-weight: 700;
        @include respond(mobile){
            font-size: 1.6rem;
        }
    }
    &__small{
        font-size: 2.4rem;
        margin-top: 4.5rem;
        @include respond(mobile){
            font-size: 1.2rem;
            margin-top: 2rem;
            letter-spacing: -2px;
        }
        &--child{
            line-height: 1.75;
            &--pc{
                display: block;
                @include respond(mobile){
                    display: none;
                }
            }
            &--mb{
                display: none;
                @include respond(mobile){
                    display: block;
                }
            }
        }
    }
}


.fade-in {
    opacity:0;
    animation:fadeInText ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1.4s;
    animation-delay: .5s;
}

.fade-in.delayed {
    animation-delay: 1.4s;
}

@keyframes blur{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}