.text-contact{
    opacity: 0; //
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $color-text;
    padding-top: 4.5rem;
    &__small{
        font-size: 1.4rem;
        color:$color-text;
    }
    @include respond(mobile){
        padding-top: 2.5rem;
    }
}
.color-contact{
    color: $color-text;
}

.contact-content{
    opacity: 0; //
    display: flex;
    margin-top: 2.7rem;
    @include respond(mobile){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
}

.contentLeft{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1.2rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    @include respond(mobile){
        width: 100%;
        padding: 0;
        margin: 0;
    }
    &__nth{
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        // align-items: center; //
        margin-bottom: 1.5rem;
        width: 100%;
        @include respond(mobile){
            flex-direction: column;
            margin-bottom: 1rem;
        }
        &:last-child{
            @include respond(mobile){
                margin: 0;
            }
        }   
        &--title{
            color: $color-text;
            font-size: 1.4rem;
            // width: 100%;
            margin-top: 1rem; //
            @include respond(mobile){
                margin: 0;
                margin-bottom: .5rem;
                font-size: 1.2rem;
            }
        }
        &--typing{
            display: flex;
            align-items: center;
            justify-content: center;
            &--title{
                color: $color-text;
                font-size: 1.4rem;
                margin-right: 1rem;
                margin-left: 3rem;
                @include respond(mobile){
                    margin-left: 0;
                }
            }
            &--input{
                width: 15rem;
                height: 3.5rem;
                border-radius: .5rem;
                outline: none;
                border: none;
                @include respond(mobile){
                    width: 100%;
                    height: 2.5rem;
                }
            }
            &--input2{
                width: 37rem;
                height: 3.5rem;
                border-radius: .5rem;
                outline: none;
                border: none;
                @include respond(mobile){
                    width: 100%;
                    height: 2.5rem;
                }
            }
            &--input3{
                width: 37rem;
                height: 11.5rem;
                border-radius: .5rem;
                outline: none;
                border: none;
                @include respond(mobile){
                    width: 100%;
                    height: 5.5rem;
                }
            }
        }
    }
}

.contentRigth{
    width: 50%;
    display: flex;
    align-items: center;    
    padding-bottom: 7rem;
    padding-left: 2.5rem;
    @include respond(mobile){
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-top: 2rem;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5rem;
        @include respond(mobile){
            margin: 0;
        }
        &--one{
            & p{
                color: $color-text;
                font-size: 1.4rem;
                margin-bottom: 2.5rem;
                line-height: 1.75;
                margin-top: 1rem;
                @include respond(mobile){
                    margin-bottom: 1rem;
                    line-height: 1.5;
                    font-size: 1.2rem;
                }
            }
        }
        &--true{
            & p{
                text-transform: uppercase;
                color: $color-text;
                font-size: 1.4rem;
                line-height: 1.75;
                margin-bottom: 0;
                @include respond(mobile){
                    margin-bottom: .5rem;
                    line-height: 1.5;
                    font-size: 1.2rem;
                }
            }
        }
    }
}


.btn-footer{
    margin-right: 9.5rem;
    margin-bottom: -.5rem;
    @include respond(mobile){
        margin: 0;
    }
}
.btn{
    margin: 0;
    font-size: 1.4rem;
}
#input1{
    @include respond(mobile){
        margin-right: 2rem;
    }
}
.title2{
    @include respond(mobile){
        margin-left: 2rem;
    }
}