
.logo{
    @include respond(mobile){
        // margin-left: 1rem;
    }
    &__box{
        width: 228px;
        height: 60px;
        &--img{
            @include respond(mobile){
                width: 114px;
                height: 30px;
            }
        }
    }
}
.menu{
    height: 100%;
    @include respond(mobile){
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: #ffff, $alpha: .9);
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &__ul{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;   
        @include respond(mobile){
            flex-direction: column;
            margin-top: 4.5rem;
            justify-content: flex-start;
        }
        &--li{
            height: 100%;
            @include respond(mobile){
                border: none;
                padding: 0;
                height: 6rem;
            }
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 1.8rem;
            border-left: 1px solid $color-border-menu;
            transform: skewX(-25deg);
            @include respond(mobile){
                transform: skewX(0);
                border-bottom: 1px solid $color-border-menu;
                width: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center ;
            }
            cursor: pointer;
            &:last-child{
                border-right: 1px solid $color-border-menu;
                @include respond(mobile){
                    border: none;
                }
            }
            & a{
                font-size: 1.8rem;
                text-decoration: none;
                transform: skewX(25deg);
                @include respond(mobile){
                    transform: skewX(0);
                }
                color: $primary;
                line-height: 10px;
                transition: all .5s;
                & span{
                    font-size: 1.4rem;
                    color: $color-text-menu-2;
                    transition: all .5s;
                }
            }
        }
        &--li:hover{
            background-color: $primary;
        }
        &--li:hover a,
        &--li:hover a span{
            color: $color-text;
        }
    }
}

.humburger{
    display: none;
    @include respond(mobile){
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 999999;
    }
    &__icon{
        @include respond(mobile){
            top: 1.75rem;
            right: 1.5rem;
        }
        position: fixed;
        top: 3.5rem;
        right: 2.5rem;
        z-index: 9999999;
        &,
        &::after,
        &::before{
            width: 2.5rem;
            height: 0.2rem;
            background-color: $primary;
            display: block;
            z-index: 999999;
            border-radius: 20%;
        }
        &::after,
        &::before{
            content: "";
            position:absolute;
            left: 0;
            transition: all .3s ease-in-out;
        }
        &::before{
            top: -.9rem;
            @include respond(mobile){
                top: -.7rem;
            }
        }
        &::after{
            top: .9rem;
            @include respond(mobile){
                top: .7rem;
            }
        }
    }
}


.fixmenu{
    padding: 0 2rem;
    position: fixed;
    z-index: 99999999999999;
    top: 4rem;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    // animation: dow 1s ease;
    box-shadow: 0 10px 20px rgba(61, 61, 61, 0.19), 0 6px 6px rgba(63, 63, 63, 0.23);

    @include respond(mobile){
        padding: 0 1rem;
        position: fixed;
        z-index: 99999999999999;
        top: 2rem;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        // animation: dow 1s ease;
        box-shadow: 0 10px 20px rgba(61, 61, 61, 0.19), 0 6px 6px rgba(63, 63, 63, 0.23);
    }

    @include respond(big-pc){
        padding: 0 2rem;
        position: fixed;
        z-index: 99999999999999;
        top: 4rem;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        // animation: dow 1s ease;
        box-shadow: 0 10px 20px rgba(61, 61, 61, 0.19), 0 6px 6px rgba(63, 63, 63, 0.23);
    }
    @include respond(pc){
        padding: 0 2rem;
        position: fixed;
        z-index: 99999999999999;
        top: 4rem;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        // animation: dow 1s ease;
        box-shadow: 0 10px 20px rgba(61, 61, 61, 0.19), 0 6px 6px rgba(63, 63, 63, 0.23);
    }
}

.gat{
    margin-top: 8rem;
    @include respond(pc){
        margin-top: 8rem;
    }
    @include respond(big-pc){
        margin-top: 8rem;
    }
    @include respond(mobile){
        margin: 0;
    }
}

.over{
    position: fixed;
    left: 0;
    width: 100%;
}

.displaymenu{
    display: block;
} 

.transformIcon{
    @include respond(mobile){
        .humburger__icon{
            background-color: transparent;
        }
        .humburger__icon::after{
            top: 0;
            transform: rotate(135deg);
        }
        .humburger__icon::before{
            top: 0;
            transform: rotate(-135deg);
        }
    }
}

.show-mb {
    display: none;
}
@include respond(mobile){
    .show-pc {
        display: none
    }
    .show-mb {
        display: block;
    }
}