.text-partners{
    &__p{
        margin-top: 3rem;
        font-size: 1.4rem;
        color: $color-text-par;
        line-height: 2;
        @include respond(mobile){
            font-size: 1.2rem;
        }
    }
}

.content-partners{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    @include respond(mobile){
        flex-direction: column;
    }
}

.content-partners__imgLeft{
    @include respond(mobile){
        width: 100%;
    }
    position: relative;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 1px solid white;
    }
    &:hover &--img{
        transform: scale(1.05);
        z-index: 100;
    }
    &--img{
        transition: all .5s;
        cursor: pointer;
        width: 100%;    
    }
    &--text{
        z-index: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%); 
        width: 100%;
        color: $color-text;
        font-size: 2.4rem;
        @include respond(mobile){
            font-size: 1.6rem;
        }
        & span{
            font-size: 1.6rem;
        }
    }
    &--text2{
        z-index: 500;
        position: absolute;
        top: 85%;
        left: 50%;
        transform:translate(-50%, -50%); 
        width: 100%;
        color: $color-text;
        font-size: 2.4rem;
    }
}