.text-recruit__big{
    color: $text-recruit;
    padding-top: 4.5rem;
}
.text-recruit__small{
    color: $text-recruit;
}

.recruit-image{
    background-image: url('../../img/redruit02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100%;
    &__content{
        @include respond(mobile){

        }
        &--text{
            @include respond(mobile){
                margin-top: 0;
            }
            padding-top: 3rem;
            color: $text-recruit;
            font-size: 1.4rem;
            line-height: 2;
            &--pc{
                display: block;
                @include respond(mobile){
                    display: none;
                }
            }
            &--mobile{
                @include respond(mobile){
                    display: block;
                }
            }
        }
    }
}
.btn__recruit{
    margin: 2.3rem auto 0 auto;
}