.text-recruit__big{
    color: white;
    margin-top: -.5rem;
    @include respond(mobile){
        margin-top: .5rem;
    }
}
.text-recruit__small{
    color: $text-recruit;
    margin-bottom: 3rem;
    @include respond(mobile){
        margin-bottom: 2rem;
    }
}

.recruit-image{
    width: 100%;
    height: 140%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    background-size: cover;
    background-image: url('../img/recruit.jpg');
    background-position: center center;
    @include respond(mobile){
        background-image: url('../img/recruit-mb.jpg');
    }
    &__content{
        opacity: 0; //
        @include respond(mobile){
            margin-bottom: 1.6rem;
        }
        &--text{
            @include respond(mobile){
                margin-top: 0;
                font-size: 1.2rem;
                line-height: 1.5;
            }
            color: $text-recruit;
            font-size: 1.4rem;
            line-height: 1.8;
            margin-bottom: 2.8rem;
            &--pc{
                display: block;
                @include respond(mobile){
                    display: none;
                }
            }
            &--mobile{
                @include respond(mobile){
                    display: block;
                }
            }
        }
    }
}
.btn__recruit{
    margin: 0 auto 0 auto;
    font-size: 1.4rem;
    @include respond(mobile){
        color: $text-about;
        font-size: .7rem;
    }
}
