.text-recruit__big{
    color: $text-recruit;
    margin-top: -.5rem;
    @include respond(mobile){
        padding-top: 3rem;
    }
}
.text-recruit__small{
    color: $text-recruit;
}

.recruit-image{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__content{
        opacity: 0; //
        &--text{
            @include respond(mobile){
                margin-top: 0;
                padding: 1.5rem;
                font-size: 1.2rem;
            }
            padding-top: 3rem;
            color: $text-recruit;
            font-size: 1.4rem;
            line-height: 2;
            &--pc{
                display: block;
                @include respond(mobile){
                    display: none;
                }
            }
            &--mobile{
                @include respond(mobile){
                    display: block;
                }
            }
        }
    }
}
.btn__recruit{
    margin: 2.3rem auto 0 auto;
    @include respond(mobile){
        margin: 1rem auto 0 auto;
    }
}
#anh{
    background-image: url('../img/redruit02.png');
    height: 100%;
}