.title{
    opacity: 0; //
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__text{
        font-size: 1.4rem;
        color:$color-three;
        margin-top: 3.5rem;
        @include respond(mobile){
            font-size: 1.2rem;
            text-align: center;
            margin-top: 1.5rem;
        }
        &--mobile{
            display: none;
            @include respond(mobile){
                display: block;
            }
        }
        & span{
            @include respond(mobile){
                margin-top: 1rem;
            }
        }
    }
}

.box{
    opacity: 0; //
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(mobile){
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        margin-top: 2.5rem;
    }
}

.button{
    @include respond(mobile){
        width: calc((100% - 15px) / 2 );
        margin: 0;
    }
    width: calc((100% - 60px) / 4);
    height: 20rem;
    @include respond(mobile){
        height: 50%;
    }
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
    border: 1px solid $color-boder-btn;
    background-color: $bg-button;
    cursor: pointer;
    margin-bottom: 20px !important;
    @include respond(mobile){
        margin-bottom: 15px !important;
    }
    margin-right: 20px ; 
    &:nth-child(4){
        margin-right: 0 ;
    }
    &:last-child{
        margin-right: 0;
    }
    &__text{
        color: $primary;
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 1rem;
        @include respond(mobile){
            font-size: 1.2rem;
            margin-top: 1.5rem;
        }
    }
    &__img{
        width: 10rem;
        @include respond(mobile){
            width: 50%;
            margin-top: 1rem;
            margin-bottom: 1.3rem;
            width: 48px;
            height: 48px;
        }
    }


    &__TopBottom:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        @include respond(mobile){
            width: 5px;
            height: 1px;
        }
        top: 0;
        left: 0;
        background: $color-boder-btn;
        transition: all 0.5s ease;
    }  
    &__TopBottom:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        @include respond(mobile){
            width: 5px;
            height: 1px;
        }
        bottom: 0;
        right: 0;
        background: $color-boder-btn;
        transition: all 0.5s ease;
    }

    &__TopBottom2:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        @include respond(mobile){
            width: 5px;
            height: 1px;
        }
        top: 0;
        right: 0;
        background: $color-boder-btn;
        transition: all 0.5s ease;
    }
    &__TopBottom2:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        @include respond(mobile){
            width: 5px;
            height: 1px;
        }
        bottom: 0;
        left: 0;
        background:$color-boder-btn;
        transition: all 0.5s ease;
    }

    &__LeftRight:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 10px;
        @include respond(mobile){
            width: 1px;
            height: 5px;
        }
        background:$color-boder-btn;
        transition: all 0.5s ease;
    }
    &__LeftRight:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2px;
        height: 10px;
        @include respond(mobile){
            width: 1px;
            height: 5px;
        }
        background: $color-boder-btn;
        transition: all 0.5s ease;
    }

    &__LeftRight2:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 10px;
        @include respond(mobile){
            width: 1px;
            height: 5px;
        }
        background: $color-boder-btn;
        transition: all 0.5s ease;
    } 
    &__LeftRight2:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 10px;
        @include respond(mobile){
            width: 1px;
            height: 5px;
        }
        background: $color-boder-btn;
        transition: all 0.5s ease;
    }

    &:hover &__LeftRight:before,
    &:hover &__LeftRight::after{
        z-index: 999;
        background:$primary;
        height: 100%;
        transition: all 0.5s ease;
    }

    &:hover &__TopBottom2:before,
    &:hover &__TopBottom2::after{
        background: $primary;
        width: 100%;
        transition: all 0.5s ease;
        transition-delay: .5s;
    }

}