.text-primary{
    font-size: 3.6rem;
    color: $primary;
    text-transform: uppercase;
    font-weight: 700;
    @include respond(mobile){
        font-size: 2.3rem;
    }
}
.text-primary-small{
    font-size: 1.4rem;
    margin-top: 1.2rem;
    color: $color-text-primary-small;
    @include respond(mobile){
        font-size: 1.2rem;
    }
}
